<!--- <% if (typeof message != undefined) { %>
    <%= message %>
<% } %> -->

<% if (typeof user._id !== "undefined") { %>
<nav>
    <small>Welcome to the FoodSwiper!</small>
    <a href = '/'>Homepage</a>
    <a href = '/auth/login'>Login/Register</a>
</nav>

<% } %>

<!--<% } %>

 <% include ./partials/_navbar %> -->