body {
  background: url("food.jpeg")no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.checked {
    color: rgb(255,215,0);
}
ul {
  padding: 0;
}

li {
  list-style: none;
}
h1 {

  font-family: 'Exo 2', sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.nav-item {
  color: black;
}
.nav-link{
  color: black;
}
.stack {
  width: 400px;
  margin: 100px auto;
}

.card {
  /*Style of the card*/
  height: 250px;
  width: 400px;
  max-width: 100%;
  background: white;
  border: 1px solid grey;
  position: absolute;
}
.btn{
background-color:rgb(233, 38, 30)
}

.card-body{
  background-color:rgb(79, 118, 242) ;
  padding: 0.25rem;
  color:rgb(47, 47, 47)
}

.js-swiping-card {
  transition: transform 0.5s;

  &.done {
    display: none;
  }
}
.js-swiping-card {
  transition: transform 0.5s;

  &.done {rgb(138, 110, 242)
    display: none;
  }
}
