<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here's your profile and all your foods</h1>

   <form action="/user/<%=user.id%>?_method=PUT" method="POST"> <p>Edit your profile</p> </form>

    <form action="/user/<%=user.id%>?_method=DELETE" method="POST"> <p>Delete your profile</p> </form>

    <!--- make sure this is only deleting from the user's food array and not the whole app --->
    <% for (let i = 0; i < user.userFoods.length; i++) { %>

    <form action="/user/<%=user.userFoods[i].id%>?_method=DELETE" method="POST"> <p>Delete dat food</p> </form>

   <% } %>
    

     <a href="/auth/logout">Logout</a>

</body>
</html>